<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '1calorias.jpg', class: "d-block w-100", alt: "Calorias" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '2pan.jpg', class: "d-block w-100", alt: "Pan" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '3calculadora.jpg', class: "d-block w-100", alt: "Calculadora" %>
    </div>
  </div>
 
