
<h1> Mi portafolio </h1>
<h2>Reyes Moreno </h2>


<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
   
   <div class="card" style="width: 18rem;">
  
  <%= image_tag '1calorias.jpg', class: "card-img-top", alt: "Calorias" %>
  <div class="card-body">
    <h5 class="card-title">Proyecto de calculo de calorias</h5>
    <p class="card-text">Proyecto para poder tener un calculo de las calorias de una comida.</p>
    <a href="#" class="btn btn-primary bt_projet">Ver mas...</a>
  </div>
</div>


  </div>

  <div class="card" style="width: 18rem;">
  
<div class="card" style="width: 18rem;">
  <%= image_tag '2pan.jpg', class: "card-img-top", alt: "Pan" %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Panadero</h5>
    <p class="card-text">Eres panadero y no sabes como calcular para hacer un pan, tenemos la solución.</p>
    <a href="#" class="btn btn-primary bt_projet">Ver mas...</a>
  </div>
</div>  


  </div>

  <div class="card" style="width: 18rem;">
  
  
<div class="card" style="width: 18rem;">
  <%= image_tag '3calculadora.jpg', class: "card-img-top", alt: "Calculadora" %>
  <div class="card-body">
    <h5 class="card-title">Caluladora Futuro 2030</h5>
    <p class="card-text">Has tenido 2 numero y no sabes que hacer?, pues esta calculadora vas hacer mucho mas que sumar.</p>
    <a href="#" class="btn btn-primary bt_projet">Ver mas...</a>
    

  </div>
</div>


  </div>
</div>



