<div class="d-flex justify-content-center">
  <div class="card d-flex flex-fill" style="width: 18rem;">
    <%= image_tag '1calorias.jpg', class: "card-img-top img-fluid", alt: "Calorias" %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Proyecto de cálculo de calorías</h5>
      <p class="card-text">Proyecto para poder tener un cálculo de las calorías de una comida.</p>
      <a href="#" class="btn btn-primary bt_projet mt-auto">Ver más...</a>
    </div>
  </div>

  <div class="card d-flex flex-fill" style="width: 18rem;">
    <%= image_tag '2pan.jpg', class: "card-img-top img-fluid", alt: "Pan" %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Proyecto Panadero</h5>
      <p class="card-text">Eres panadero y no sabes cómo calcular para hacer un pan, tenemos la solución.</p>
      <a href="#" class="btn btn-primary bt_projet mt-auto">Ver más...</a>
    </div>
  </div>

  <div class="card d-flex flex-fill" style="width: 18rem;">
    <%= image_tag '3calculadora.jpg', class: "card-img-top img-fluid", alt: "Calculadora" %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Calculadora Futuro 2030</h5>
      <p class="card-text">¿Has tenido 2 números y no sabes qué hacer? Pues esta calculadora va a hacer mucho más que sumar.</p>
      <a href="#" class="btn btn-primary bt_projet mt-auto">Ver más...</a>
    </div>
  </div>
</div>





